<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navBar">
<nav class="navbar navbar-light navbar-expand-md py-3" style="background:purple">
  <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg class="bi bi-person-plus-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
                </svg></span><span style="background: var(--bs-yellow);font-weight: bold;">Employee Registration </span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link " href="/" style="font-size: 18px;" th:classappend="${#ctx.springRequestContext.requestUri=='/'} ? 'active'">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/home/" style="font-size: 18px;" th:classappend="${#strings.startsWith(#ctx.springRequestContext.requestUri,'/home/')} ? 'active'">Register</a></li>
      </ul><button class="btn btn-primary" type="button">Button</button>
    </div>
  </div>
</nav>
</div>

</body>
</html>